# Spring Boot and Java
HELP.md
*.log
*.jar
*.war
*.ear
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven
!.mvn/wrapper/maven-wrapper.jar

# YAML configs
*.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars

# Node modules (if ever using frontend)
node_modules/

# IDEs and editors
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/htmlReport

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# System files
.DS_Store
Thumbs.db

